.content-container{
    margin: auto;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px 20px;
    border-bottom: 2px solid #14213d0e ;
    max-width: 75%;
}   

.div-main-container{
    display: flex;
    margin: auto;
    padding: 3rem 5rem 5rem 5rem;
    flex-direction: column;
    align-items: center;
 
}
.cont-img{
    padding: 0 20px ;
    border-radius: 10%;
    object-fit: cover;
    height: max(13rem);
  }
  .cont-p{
      padding: 0 10px;
  }
  .project-head{
    padding: 3rem 0 3rem 0;
    color: var(--text);
  }
  .project-heading{
      text-align: center;
      color: var(--primary);
      padding: 0 0  20px 0;
  }
  @media (max-width: 648px){
     .content-container{
         flex-direction: column;
         min-width: 100%;
     } 
     .div-main-container{
         padding: 0;
     }
  }